######################
# Mac OSX
######################
.DS_Store
.svn

######################
# Maven
######################
/log/
/target/test-classes/
/target/classes/
/target/repository/
/target/temp/
/target/META-INF/
/target/test-mule
